body
{
    font-family:Verdana;
    font-size:12px;
}

table, th, td
{
    border: 1px solid #0088ff;
    font-family:Verdana;
    font-size:12px;

}
table
{
    box-shadow: 5px 5px grey;
}

th
{
    background: #E0FFFF;
    background: #ffc107;
    color: blue;
}

tfoot
{
    font-size:16px;
    background: #FFE4B5;
    background: #E0FFFF;
    color: blue;
}

.container
{
    margin: 10px;
}

.button_radius {
    background: #E0FFFF; /* Цвет фона */
    border: 1px solid #7a7b7e; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 25px; /* Высота */
    border-radius: 25px;
}
