body
{
    font-family:Verdana;
    font-size:14px;
}

table, th, td
{
    border: 1px solid #0088ff;
    font-family:Verdana;
    font-size:12px;
}
table
{
    box-shadow: 5px 5px grey;
}

th
{
    background: #ffc107;
    background: #E0FFFF;
    color: blue;
}

tfoot
{
    font-size:16px;
    background: #FFE4B5;
    background: #E0FFFF;
    color: blue;
}

form
{
    margin-left: 0%;
}