body
{
    font-family:Verdana;
    font-size:12px;
}

table, th, td
{
    border: 1px solid #0088ff;
    font-family:Verdana;
    font-size:12px;
}

th
{
    background: #ffc107;
    background: #E0FFFF;
    color: blue;
}

tfoot
{
    font-size:12px;
    background: #FFE4B5;
    background: #E0FFFF;
    color: blue;
}



table {
  /*  table-layout: fixed; */
}

/*
table td.first_td {
    width: 300px;
}
*/
