body {
    font-family:Verdana;
    font-size:12px;
}

table, th, td {
    border: 1px solid #0088ff;
    font-family: Verdana;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

td {
    height: 12px;
}
th {
    background: #ffc107;
    background: #E0FFFF;
    color: blue;
}

tfoot {
    font-size:12px;
    background: #FFE4B5;
    background: #E0FFFF;
    color: blue;
}

.container {
    margin: 10px;
}

/* для ширины 0-й колонки по содержимому */
tr > :first-child {
  width: 0;
  white-space: nowrap;
  vertical-align: top;
}

.button_radius {
    background: #E0FFFF; /* Цвет фона */
    border: 1px solid #7a7b7e; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 25px; /* Высота */
    border-radius: 25px;
}

.fixed-block111 {
    position: fixed;
    z-index: 100;
    top: 0;
    height: 30px;
  }

.colortext {
    color: red;
    font-weight: bold;
}

.dataTables_filter { /* сдвинуть влево окно для поиска */
    text-align: left !important;
    left: 0%;
}


.dataTables_paginate1 {
    margin-top: 15px;
    position: absolute;
    text-align: left;
    left: 0%;
}
