{% extends 'base.html' %}

{% block content %}
<form method="post" name="summary">
    <link rel="stylesheet" type="text/css" href="/static/css/summary.css">
    <div id="combobox">
        <p style="font-size:16px; font-weight: bold; color: red:">Сводный отчет по расходам за:
            <select id="select_type" name="type_history">
            {% if type_history == "Месяц": %}
                    <option value="Сутки"> Сутки</option>
                    <option value="Месяц" selected> Месяц</option>
                    <option value="Год"> Год</option>
            {% endif %}
            {% if type_history == "Год": %}
                    <option value="Сутки"> Сутки</option>
                    <option value="Месяц"> Месяц</option>
                    <option value="Год" selected> Год</option>
            {% endif %}
            {% if type_history == "Сутки": %}
                    <option value="Сутки" selected> Сутки</option>
                    <option value="Месяц"> Месяц</option>
                    <option value="Год"> Год</option>
            {% endif %}
            </select>
            <button type="submit" class="btn btn-primary">Выполнить</button>
        </p>
        <p>
            <button name="left" value="-1"> <img src="/static/left.png" width="18" height="18"> </button>
            {% if type_history == "Сутки": %}
                Дата расходов: <input type="date" id="start" name="dt_start" value="{{st_date}}" required >
            {% endif %}
            {% if type_history == "Месяц": %}
                Месяц:
                <select id="select_name_month" name="select_name_month">
                    {% for month in months: %}
                        {% if month == select_name_month: %}
                            <option value="{{month}}" selected>{{month}}</option>
                        {% else %}
                            <option value="{{month}}">{{month}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
            {% if type_history != "Сутки": %}
                Год:
                <input type="number" name="year" min="2015" value="{{year}}">
            {% endif %}

            <button name="right" value="+1"> <img src="/static/right.png" width="18" height="18"> </button>

            {% if type_history == "Месяц": %}
                <button name="current_month" value="current_month"> Текущий месяц </button>
            {% endif %}

            {% if type_history == "Год": %}
                <button name="current_year" value="current_year"> Текущий год </button>
            {% endif %}

            {% if type_history == "Сутки": %}
                <button name="current_day" value="current_day"> Сегодня </button>
            {% endif %}
        </p>
    </div>
</form>
{% block content1 %} {% endblock %}
{% endblock %}
