{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} {{title}} {% endblock %}</h1>

<form method="post">
    {% if id: %}
    <div> <p> ID расхода = {{id}}</p></div>
    {% endif %}
    <div>
        <p> Дата расхода: <input type="date" name="dt" value="{{st_date}}"> </p>
    </div>

    <div class="form-group">
        <p> Истрачено: <input type="number" name="money" min="0" size="0" step="0.01" value="{{money}}"> </p>
    </div>
    <div class="form-group">
        <p> Тип расхода:
        <select name="select_category">
            {% for category in categories: %}
                {% if category['sh_name'] == select_category: %}
                    <option value="{{category['sh_name']}}" selected>{{category.id}} - {{category.sh_name}}></option>
                {% else %}
                    <option value="{{category['sh_name']}}">{{category.id}} - {{category.sh_name}}></option>
                {% endif %}
            {% endfor %}
        </select>
        </p>
    </div>
    <div class="form-group">
        <label for="comment">Комментарий</label>
        <textarea name="comment" placeholder="Комментарий"
                  class="form-control">{{comment}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Принять</button>
    </div>
</form>
{% endblock %}