
<!--<a href="#deleteId">Открыть модальное окно</a>-->
<body>
<link rel="stylesheet" type="text/css" href="/static/css/delete.css">
<div id="deleteId" class="modalDialog">
    <div>
<!--        <a href="#close" title="Закрыть" class="close">X</a>-->
        <h2>Удаление расхода с ID = {{obj_id}}</h2>
        <p>Действительно безвозвратно удалить указанный расход?</p>
        <p><button type="submit" class="btn btn-success" value="Да">Да</button>
            <button type="submit" class="btn btn-danger" value="Нет">Нет</button>
        </p>
    </div>
</div>
</body>
<!--<link rel="stylesheet" type="text/css" href="/static/css/delete.css">-->
<!--<div class="modal fade" id="myOutput" role="dialog">-->
<!--    <div class="modal-dialog">-->

<!--      &lt;!&ndash; Modal content&ndash;&gt;-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--          <h4 class="modal-title">Modal Header</h4>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>Some text in the modal.</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->