{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" xmlns="http://www.w3.org/1999/html">
<form method="post" name="history">
    <div id="combobox">
        <p style="font-size:16px; font-weight: bold; color: red;">История расходов за:
            {% include "import/type_interval.html" %}
            <input type="hidden" id="page_history" name="page_history" value="{{page_history}}"> </p>
        <p> {% include "import/dates.html" %} </p>
    </div>
    <p style="text-align: center; font-size:16px; font-weight: bold; ">Расходы за <span class="color-red"> {{type_history}}</span></p>

    <table id="historyTable" class="table table-striped hover order-column">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Расход</th>
                <th scope="col">Категория</th>
                <th scope="col">Комментарий</th>
                <th scope="col">ID</th>
                <th scope="col">Delete</th>
                <th scope="col">Коррекция</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"> Суммарный расход за период = <span class="color-red">{{moneys}}</span> шекелей</td>
                <td colspan="4"> </td>
            </tr>
        </tfoot>
        <tbody>
            {% for data in datas %}
                {% if data['id'] %}
                    <tr>
                        <td>{{data['dt']}}</td>
                        <td style="color:green; font-size:16px; font-weight: bold">
                            <div align="right">{{data['money']}}</div>
                        </td>
                        <td><div align="center">{{data['category']}}</div> </td>
                        <td><div align="left">{{data['comment']}}</div> </td>
                        <td><div align="right">{{data['id']}}</div> </td>
                        <td> <div align="center"></div> <button name="delete{{data['id']}}"> Удалить</button></td>
                        <td> <div align="center"></div> <button name="correct{{data['id']}}">Изменить</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
        $(document).ready(function () {
          var table=$('#historyTable').DataTable({
            displayStart: document.querySelector('#page_history').value * 10,
            order: [[4, "asc"]],
            lengthMenu: [10, 25, 50],
            columns: [
              {orderable: true, searchable: true},
              {orderable: true, searchable: true},
              {orderable: true, searchable: true},
              {orderable: true, searchable: true},
              {orderable: true, searchable: true},
              {orderable: false, searchable: false},
              {orderable: false, searchable: false}
             ],
          });

          $('#historyTable').on( 'page.dt', function ()
          {
               var info = table.page.info();
               console.log(table);
               document.querySelector('#page_history').value = info.page;
          });

          $('#combobox').on('change', function()
          {
                document.forms['history'].submit();
          });

        });
    });
  </script>

{% endblock %}
