{% extends 'base_index.html' %}

{% block content1 %}
<!--    <caption>Информация за {{type_history}}</caption>-->
<form method="post" name="summary">
    <table width="1000" id="summaryTable" class="table table-striped hover order-column" table-layout="fixed">
        <thead>
            <tr>
                <th scope="col">Тип расхода</th>
                <th scope="col">Истрачено</th>
                {% if type_history == "Год": %}
                    {% for month in months: %}
                        <th scope="col">{{month}}</th>
                    {% endfor %}
                {% endif %}
                {% if type_history == "Месяц": %}
                    {% for i in range(count_day): %}
                        <th scope="col">{{i + 1}}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="2"> Суммарно истрачено = {{summa_money}}</td>
                {% for i in range(count_day): %}
                    <td> <div align="right">{{moneys[i]}}</div></td>
                {% endfor %}
            </tr>
        </tfoot>
        <tbody>
            {% for data in datas %}
                {% if data['2']: %}
                    <tr>
                        {% if data['1'] == category_name %}
                        <td class="first_td"> <button style="color:red" name="category_name_{{data['1']}}"> {{data['1']}}</button></td>
                        {% else %}
                            <td class="first_td"> <button name="category_name_{{data['1']}}"> {{data['1']}}</button></td>
                        {% endif %}
                        <td style="color:green; font-size:16px; font-weight: bold"><div align="right">{{data['2']}}</div> </td>
                        {% for ind in index: %}
                            {% if data[ind]: %}
                                <td><div align="right">{{data[ind]}}</div></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
<!--    /* таблица подвала */-->
    {% if category_name == '' %}
        <p style="font-size:16px; font-weight: bold; color: red:"> Расшифровка типа расходов (нужно выбрать в таблице) </p>
    {% else %}
        <p style="font-size:16px; font-weight: bold; color: red:"> Расшифровка типа расходов = {{category_name}}</p>
    {% endif %}
    <table width="900" id="structureTable" class="table table-striped hover order-column">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Истрачено</th>
                <th scope="col">Комментарий</th>
                <th scope="col">ID</th>
                <th scope="col">Удалить</th>
                <th scope="col">Изменить</th>
            </tr>
        </thead>
        <tbody>
            {% for data in mas_structure %}
                <tr>
                    <td>{{data['1']}}</td>
                    <td style="color:green; font-size:16px; font-weight: bold">
                        <div align="right">{{data['2']}}</div>
                    </td>
                    <td><div align="left">{{data['3']}}</div> </td>
                    <td><div align="right">{{data['8']}}</div> </td>
                    <td> <div align="center"></div> <input type="checkbox" name="delete{{data['8']}}"> </td>
                    <td> <div align="center"></div> <button name="correct{{data['8']}}">Изменить</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {

      $('#summaryTable').DataTable({
      });

      $('#structureTable').DataTable({
      });

      $('#combobox').on('change', function() {
            document.forms['summary'].submit();
        });

    });
  </script>

{% endblock %}
